
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  width: 15.62vw;
  background-color: #242b2e;
  color: #6b7072;
  font-family: 'RalewayRegular';
      box-shadow: 8px 0px 14px rgba(114, 106, 106, 0.9);
}

#logo{
  width: 100%;
  min-height: 11.57vh;
  background-color: #ffffff;
   img {
    height: 5.64vh;
    width: 6vw;
  }
}

#main_nav {
   a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 0.93vmax;
    text-shadow: 0.5px 0.9px 4px rgba(0, 0, 0, 0.2);
    line-height: 1.66vmax;/*vmax - размер по максимальной грани*/
    height: 3.22vmax;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    padding-right: 1.3vmax;
    background-color: #2f373b;
    background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(50,58,62,1) 0%,rgba(46,54,58,1) 98%,rgba(46,54,58,1) 98%);
  }
   a:hover,
   a.active {
    background-color: #1ab5b3;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.01) 0%, rgba(255, 255, 255, 0.01) 100%);
  }
}

#filter {
  padding-right: 1.3vmax;
  background-color: #242b2e;
  padding-bottom: 1.35vmax;
  border-bottom: 1px solid #1e282b;
  width: 100%;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    text-align: right;
  }
   a {
    font-size: 0.67vmax;
    line-height: 1.25vmax;
    color: #6b7072;
    text-shadow: 0.5px 0.9px 4px rgba(0, 0, 0, 0.2);
  }
  a:hover,
  a.active {
    color: #ffffff;
  }
}

#title_filter {
  color: #1ab5b3;
  fill: #1ab5b3;
  font-size: 0.98vmax;
  padding: 1.25vmax 0;
  svg {
    width: 0.9vmax;
    height: 0.9vmax;
    margin-left: 0.62vmax;
  }
}

#soc_bar {
  padding-top: 1.51vmax;
  padding-right: 1.3vmax;
  font-size: 0;/* так же как dib*/
  a {
    margin-left: 0.36vmax;
    opacity: 0.5;
  }
  a:hover {
    transform: scale(1.2);
    opacity: 1;
  }
  img {
    width: 1.25vmax;
    height: 1.25vmax;
  }
}

p#cop {
  text-align: right;
  color: #6b7072;
  font-size: 0.625vmax;
  line-height: 1.3vmax;
  margin-top: 0.9375vmax;
  margin-right: 1.3vmax;
}

main {
  width: 100%;
  min-height: 100vh;
  padding-left: 15.62vw;
}

.work_box {
  height: 16.19vw;
  max-width: 21.09vw;
  width: 25%;
  position: relative;
  overflow: hidden;
  img {
    width: calc(100% + 5vw);
    height: auto;
    position: absolute;
    z-index: 1;
  }
  a {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: inherit;
    background-color: rgba(45,184,185,0.9);
    color: #ffffff;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    opacity: 0;
  }
  .arrow {
    margin: 0;
    width: 3vw;
    height: 3vw;
    fill: #ffffff;
  }
  h2 {
    margin: 0;
    font-size: 1.25vw;
    font-weight: 400;
    margin-bottom: 0.78vw;
  }
  h3 {
    margin: 0;
    font-size: 0.62vw;
    font-weight: 400;
  }
  h3::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #fff;
    display: block;
    margin: 1vw auto;
  }
  a:hover {
    opacity: 1;
  }
}

#info {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5;
  width: 4.68vw;
  height: 4.68vw;
  background-color: rgba(45,184,184,0.9);
  fill: #ffffff;
  padding: 1.2vw;
  cursor: pointer;
}

#info_box {
  z-index: 5;
  width: 14.739vw;
  height: 6.77vw;
  position: fixed;
  right: 0;
  top: 4.68vw;
  background-color: rgba(0,0,0,0.7);
  padding: 1.04vw;
  display: flex;
  flex-flow: column nowrap;
  align-content: space-around;
  justify-content: space-between;
  align-items: start;
  li {
    color: #ffffff;
    font-size: 0.83vw;
    display: block;
    line-height: 1.2vw;
    padding-left: 2.5vw;
    background: url('/assets/images/ib-icon1.png') no-repeat center left;
  }
  li:nth-child(2) {
    background-image: url('/assets/images/ib-icon2.png');
  }
  li:nth-child(3) {
    background-image: url('/assets/images/ib-icon3.png');
  }
  animation: bounce 1s;
}

.wrap-info {
  display: none;
  
}

.InfoBoxShow {
  display: block;
  
}