header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  width: 15.62vw;
  background-color: #242b2e;
  color: #6b7072;
  font-family: 'RalewayRegular';
  box-shadow: 8px 0px 14px #848484;
}

#logo{
  width: 100%;
  height: 11.57vh;
  background-color: #ffffff;
  & img {
    height: 5.64vh;
    width: 6vw;
  }
}